version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: travel_db
      MYSQL_ROOT_PASSWORD: Ljvjdjq2007
    ports:
      - "3306:3306"

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - DB_NAME=travel_db
      - DB_USER=root
      - DB_PASS=Ljvjdjq2007
    depends_on:
      - db